<li><%= link_to 'Início', '/' %></li>
<li><%= link_to 'O Candidato', '/o-candidato' %></li>
<li><%= link_to 'O Mandato', '/o-mandato' %></li>
<li><%= link_to 'Agenda', '/agenda' %></li>
<li><%= link_to 'Mídia e Redes Sociais', '/midia-e-redes-sociais' %></li>
<li><%= link_to 'Quero Apoiar!', '/quero-apoiar' %></li>
<li><%= link_to 'Contato', '/contato' %></li>

